---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/73081428-e0d9-4468-ad4c-c89aec3a6f35/oauth2/token
    body:
      encoding: UTF-8
      string: "<CLIENT_SECRET>\r\nContent-Disposition: form-data; name=\"client_id\"\r\n\r\n\r\n<CLIENT_SECRET>\r\nContent-Disposition:
        form-data; name=\"client_secret\"\r\n\r\n\r\n<CLIENT_SECRET>\r\nContent-Disposition:
        form-data; name=\"grant_type\"\r\n\r\nclient_credentials\r\n<CLIENT_SECRET>\r\nContent-Disposition:
        form-data; name=\"resource\"\r\n\r\nhttps://vault.azure.net\r\n<CLIENT_SECRET>--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=------------------------g-kNl3kgqUv1wm9e
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"AADSTS7000216: ''client_assertion'',
        ''client_secret'' or ''request'' is required for the ''client_credentials''
        grant type.\r\nTrace ID: 0b7fe7ab-3965-47f6-8b6e-80f0cca34700\r\nCorrelation
        ID: f4538724-cba2-4f07-9e22-4df2f25ab649\r\nTimestamp: 2019-09-27 09:30:10Z","error_codes":[7000216],"timestamp":"2019-09-27
        09:30:10Z","trace_id":"0b7fe7ab-3965-47f6-8b6e-80f0cca34700","correlation_id":"f4538724-cba2-4f07-9e22-4df2f25ab649","error_uri":"https://login.microsoftonline.com/error?code=7000216"}'
  recorded_at: Fri, 27 Sep 2019 09:30:10 GMT
- request:
    method: get
    uri: https://vogon-development.vault.azure.net/certificates/vogon-test?api-version=7.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Bearer authorization="https://login.windows.net/73081428-e0d9-4468-ad4c-c89aec3a6f35",
        resource="https://vault.azure.net"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
  recorded_at: Fri, 27 Sep 2019 09:30:10 GMT
recorded_with: VCR 5.0.0
