---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/73081428-e0d9-4468-ad4c-c89aec3a6f35/oauth2/token
    body:
      encoding: UTF-8
      string: "--------------------------gyUHYPQ8Hatpv2MN\r\nContent-Disposition:
        form-data; name=\"client_id\"\r\n\r\n<CLIENT_ID>\r\n--------------------------gyUHYPQ8Hatpv2MN\r\nContent-Disposition:
        form-data; name=\"client_secret\"\r\n\r\n<CLIENT_SECRET>\r\n--------------------------gyUHYPQ8Hatpv2MN\r\nContent-Disposition:
        form-data; name=\"grant_type\"\r\n\r\nclient_credentials\r\n--------------------------gyUHYPQ8Hatpv2MN\r\nContent-Disposition:
        form-data; name=\"resource\"\r\n\r\nhttps://vault.azure.net\r\n--------------------------gyUHYPQ8Hatpv2MN--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=------------------------gyUHYPQ8Hatpv2MN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3599","ext_expires_in":"3599","expires_on":"1569414023","not_before":"1569410123","resource":"https://vault.azure.net","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Wed, 25 Sep 2019 11:20:23 GMT
- request:
    method: post
    uri: https://signer-development.vault.azure.net/keys/signer-test/sign?api-version=7.0
    body:
      encoding: UTF-8
      string: '{"alg":"RS256","value":"D-MUXEux-z6vjyrghfhTLOoxMyIXwovxlRdNVeSzoaw="}'
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"kid":"https://signer-development.vault.azure.net/keys/signer-test/89b9ebebec474ba9b5b9d451c283e315","value":"AJguY4sRE8MCTR1mnnlPc2tWub_GyaNMcoc_vnPEcDiDLzVKaZALEef9RxxK7031BjDOaljqgkKgeHjF1qyHoDgd5KlJyrYK4J53iTyLkkQNAhUgsVuHARsv9xVbz5CBin3wNgY3JRIWMe2neU37n23k4CnOMUZUvLGuziSnPAXkyZFQmmCZh_UJMu04dtiHTbIziSBclJmKIRvAv_ksY-3OdC3kCklcojWTihTjmr2hSXW-VW6GbZSMwmSWA6mZTDWIH4dWINpzv25jiFo1rJWEfDqdSLIJIxJil6ycJlFAK1q0o1qAHq-GRJ20nSH1lc-7CxB27B8332IRrV0MeQ"}'
  recorded_at: Wed, 25 Sep 2019 11:20:23 GMT
recorded_with: VCR 5.0.0
