---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/73081428-e0d9-4468-ad4c-c89aec3a6f35/oauth2/token
    body:
      encoding: UTF-8
      string: "--------------------------cw4jfXX5PV2-RJ9i\r\nContent-Disposition:
        form-data; name=\"client_id\"\r\n\r\n<CLIENT_ID>\r\n--------------------------cw4jfXX5PV2-RJ9i\r\nContent-Disposition:
        form-data; name=\"client_secret\"\r\n\r\n<CLIENT_SECRET>\r\n--------------------------cw4jfXX5PV2-RJ9i\r\nContent-Disposition:
        form-data; name=\"grant_type\"\r\n\r\nclient_credentials\r\n--------------------------cw4jfXX5PV2-RJ9i\r\nContent-Disposition:
        form-data; name=\"resource\"\r\n\r\nhttps://vault.azure.net\r\n--------------------------cw4jfXX5PV2-RJ9i--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=------------------------cw4jfXX5PV2-RJ9i
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"3600","expires_on":"1569497318","not_before":"1569493418","resource":"https://vault.azure.net","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 26 Sep 2019 10:28:38 GMT
- request:
    method: post
    uri: https://vogon-development.vault.azure.net/keys/vogon-test/sign?api-version=7.0
    body:
      encoding: UTF-8
      string: '{"alg":"RS256","value":"D-MUXEux-z6vjyrghfhTLOoxMyIXwovxlRdNVeSzoaw="}'
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"kid":"https://vogon-development.vault.azure.net/keys/vogon-test/a212573c9a82438a8e878b2549921cc9","value":"AJguY4sRE8MCTR1mnnlPc2tWub_GyaNMcoc_vnPEcDiDLzVKaZALEef9RxxK7031BjDOaljqgkKgeHjF1qyHoDgd5KlJyrYK4J53iTyLkkQNAhUgsVuHARsv9xVbz5CBin3wNgY3JRIWMe2neU37n23k4CnOMUZUvLGuziSnPAXkyZFQmmCZh_UJMu04dtiHTbIziSBclJmKIRvAv_ksY-3OdC3kCklcojWTihTjmr2hSXW-VW6GbZSMwmSWA6mZTDWIH4dWINpzv25jiFo1rJWEfDqdSLIJIxJil6ycJlFAK1q0o1qAHq-GRJ20nSH1lc-7CxB27B8332IRrV0MeQ"}'
  recorded_at: Thu, 26 Sep 2019 10:28:38 GMT
recorded_with: VCR 5.0.0
