---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/73081428-e0d9-4468-ad4c-c89aec3a6f35/oauth2/token
    body:
      encoding: UTF-8
      string: "--------------------------WgyVB6jr3_oXjGRJ\r\nContent-Disposition:
        form-data; name=\"client_id\"\r\n\r\n<CLIENT_ID>\r\n--------------------------WgyVB6jr3_oXjGRJ\r\nContent-Disposition:
        form-data; name=\"client_secret\"\r\n\r\n<CLIENT_SECRET>\r\n--------------------------WgyVB6jr3_oXjGRJ\r\nContent-Disposition:
        form-data; name=\"grant_type\"\r\n\r\nclient_credentials\r\n--------------------------WgyVB6jr3_oXjGRJ\r\nContent-Disposition:
        form-data; name=\"resource\"\r\n\r\nhttps://vault.azure.net\r\n--------------------------WgyVB6jr3_oXjGRJ--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=------------------------WgyVB6jr3_oXjGRJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":"3600","ext_expires_in":"3600","expires_on":"1569513199","not_before":"1569509299","resource":"https://vault.azure.net","access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 26 Sep 2019 14:53:19 GMT
- request:
    method: post
    uri: https://vogon-development.vault.azure.net/keys/vogon-test/sign?api-version=7.0
    body:
      encoding: UTF-8
      string: '{"alg":"RS256","value":"cEPZqwHtxtrd86JBCWylKPwjBF7g6WoT9EePLdtL9EU="}'
    headers:
      Authorization:
      - "<ACCESS_TOKEN>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"kid":"https://vogon-development.vault.azure.net/keys/vogon-test/a212573c9a82438a8e878b2549921cc9","value":"DUeBq2UlAhe9eeZVyPeRQ3L3BGuFTNLht-tgPXr-wLzuO7uXp94GiWTJEm4t4tdI8ODI1djRzTr8hAujq70tR1hlMbEB5aM_vkryqkwAU9NEoX2mSRAIOTwl4ypQxpyFpXrmyf47d6AgrporQwQaJES0QID9qSvwtnKlcG5s8KM18nJU93fj3RsbG68MyfZrk2t7FWXtkbWbrlVwWzUG4e5DzFlG-70D6qLYZr5PrFgKvoUD3dTP6yUnyYyPoU3XvROiheLEEHMwe649cGBhJ41e3MxmXizi7fR9Afhj3OgHNSRfED2jGWipXRyLW7hz50ADJuHqFw4v5tb_GDg5DQ"}'
  recorded_at: Thu, 26 Sep 2019 14:53:20 GMT
recorded_with: VCR 5.0.0
